pytorch-env/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.log
*.out
*.err
*.log.*
logs/
*.zip
*.tar.gz
*.rar
data/raw_data
.vscode
.env
hpc_commands.txt
machine.file.*
wandb
checkpoints
data/preprocessed_data