pytorch-env/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.log
*.out
*.err
*.log.*
logs/
*.zip
*.tar.gz
*.rar
data/raw_data
.vscode
.env
hpc_commands.txt
machine.file.*
wandb
checkpoint*
data/preprocessed_data
data/results
data/template*
results
data/reactant*
moledesign-venv/
.pylintrc
.pytest_cache
coverage/
.coverage
molvenv/
eval*/
op.txt
queue*
profiles/